Repository karta571110/base-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run stylelint:fix, npm run prettier, npm run cspell:check

chore: pwa test
  .vscode/settings.json
  apps/base-app/src/app/app.component.ts
  apps/pwa-app/src/app/app.component.ts
  apps/pwa-app/src/app/app.config.ts
  package.json
  server.crt
  server.key
  server.pfx
  ssl.conf
Due: npm run lint:fix, npm run prettier, npm run cspell:check

core: update v18 latest
  package-lock.json
  package.json
Due: npm run prettier, npm run cspell:check

fix: error messages pipe
  apps/base-app/src/app/shared/components/input/input-slider/input-slider.component.html
  apps/base-app/src/app/shared/components/input/input-text/input.component.html
  apps/base-app/src/app/shared/components/validate-message/validate-message.component.html
  apps/base-app/src/app/shared/components/validate-message/validate-message.component.ts
  libs/common/sdk/form/src/pipes/validator/error-message/error-message.pipe.ts
  libs/common/sdk/i18n/src/services/transloco-loader/transloco-loader.service.ts
Due: npm run lint:fix, npm run prettier, npm run cspell:check

fix: add request
  apps/base-app/src/app/app.component.spec.ts
  apps/base-app/src/app/app.component.ts
  libs/common/sdk/src/lib/models/api.model.ts
  libs/common/sdk/src/lib/services/api/common-api.service.ts
Due: npm run lint:fix, npm run prettier, npm run cspell:check

feat: add csp utils
  libs/common/sdk/src/lib/utils/csp.utils.ts
  libs/common/sdk/src/lib/utils/index.ts
Due: npm run lint:fix, npm run prettier, npm run cspell:check

core: update to angular v19
  apps/base-app/src/app/app.component.ts
  apps/base-app/src/app/app.config.ts
  apps/base-app/src/app/layouts/header/header.component.ts
  apps/base-app/src/app/layouts/main/index.component.ts
  apps/base-app/src/app/pages/dashboard/index.component.ts
  apps/base-app/src/app/pages/login/index.component.ts
  apps/base-app/src/app/shared/components/i18n/i18n-setting-button/i18n-setting-button.component.ts
  apps/base-app/src/app/shared/components/input/input-date-range/input-date-range.component.ts
  apps/base-app/src/app/shared/components/input/input-password/input-password.component.ts
  apps/base-app/src/app/shared/components/input/input-select/input-select.component.ts
  apps/base-app/src/app/shared/components/input/input-slider/input-slider.component.ts
  apps/base-app/src/app/shared/components/input/input-text/input.component.ts
  apps/base-app/src/app/shared/components/swiper/swiper.component.ts
  apps/base-app/src/app/shared/components/table/table.component.ts
  apps/base-app/src/app/shared/components/validate-message/validate-message.component.ts
  apps/base-app/src/sass/vendors/_material.scss
  libs/common/sdk/ui/src/components/loader/common-loader.component.ts
  package-lock.json
  package.json
Due: npm run lint:fix, npm run stylelint:fix, npm run prettier, npm run cspell:check

core: remove karma and add jest
  angular.json
  package-lock.json
  package.json
Due: npm run prettier, npm run cspell:check

feat: test jest
  apps/base-app/jest-setup.ts
  apps/base-app/tsconfig.editor.json
  apps/base-app/tsconfig.spec.json
  jest.config.ts
  package-lock.json
  package.json
  setup-jest.ts
  tsconfig.base.json
Due: npm run lint:fix, npm run prettier, npm run cspell:check

chore: add git attribute end of line
  .gitattributes
  .prettierrc.json
Due: npm run prettier, npm run cspell:check

core: material
  package-lock.json
Due: npm run prettier, npm run cspell:check

chore: eslint setting
  .eslintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  apps/base-app/tsconfig.editor.json
  apps/base-app/tsconfig.json
  apps/base-app/tsconfig.spec.json
  libs/common/sdk/src/lib/services/index.ts
  libs/common/sdk/tsconfig.editor.json
  package-lock.json
  package.json
Due: npm run lint:fix, npm run prettier, npm run cspell:check

core: update to v19.2.3
  package-lock.json
  package.json
Due: npm run prettier, npm run cspell:check

chore: remove unexsit file
  libs/common/sdk/src/lib/services/index.ts
Due: npm run lint:fix, npm run prettier, npm run cspell:check

chore: update prettier
  .prettierrc.json
Due: npm run prettier, npm run cspell:check

chore: add recomend plugin
  .vscode/extensions.json
Due: npm run prettier, npm run cspell:check

docs: 開發規範
  .vscode/extensions.json
  README.md
  package.json
Due: npm run prettier, npm run cspell:check

chore: dockerfile 環境變數參數化
  cspell.json
  dockerfile
  nginx.conf.template
  package.json
Due: npm run prettier, npm run cspell:check

perf: use zoneless
  angular.json
  apps/base-app/src/app/app.config.ts
  apps/base-app/src/app/pages/login/index.component.html
Due: npm run lint:fix, npm run prettier, npm run cspell:check

docs: add sonarqub command
  README.md
Due: npm run prettier, npm run cspell:check

core: adjust docker command
  package.json
Due: npm run prettier, npm run cspell:check

core: upadate angular to 19.2.9
  package-lock.json
  package.json
Due: npm run prettier, npm run cspell:check

docs: add snyk
  .vscode/extensions.json
  README.md
  package-lock.json
  package.json
Due: npm run prettier, npm run cspell:check

core: update cspell
  package-lock.json
  package.json
Due: npm run prettier, npm run cspell:check

core: update @jsverse/transloco
  package-lock.json
  package.json
Due: npm run prettier, npm run cspell:check

style: change material style
  angular.json
  apps/base-app/src/assets/fonts/roboto/Roboto-Bold.ttf
  apps/base-app/src/assets/fonts/roboto/Roboto-Medium.ttf
  apps/base-app/src/assets/fonts/roboto/Roboto-Regular.ttf
  apps/base-app/src/sass/base/_fonts.scss
  apps/base-app/src/sass/vendors/_material.scss
Due: npm run stylelint:fix, npm run prettier, npm run cspell:check

feat: add button
  apps/base-app/src/app/shared/components/buttons/button/button.component.html
  apps/base-app/src/app/shared/components/buttons/button/button.component.scss
  apps/base-app/src/app/shared/components/buttons/button/button.component.spec.ts
  apps/base-app/src/app/shared/components/buttons/button/button.component.ts
Due: npm run lint:fix, npm run stylelint:fix, npm run prettier, npm run cspell:check

feat: add icon component
  apps/base-app/src/app/shared/components/icon/icon.component.html
  apps/base-app/src/app/shared/components/icon/icon.component.scss
  apps/base-app/src/app/shared/components/icon/icon.component.spec.ts
  apps/base-app/src/app/shared/components/icon/icon.component.ts
Due: npm run lint:fix, npm run stylelint:fix, npm run prettier, npm run cspell:check

feat: add paginator
  apps/base-app/src/app/shared/components/paginator/paginator.component.html
  apps/base-app/src/app/shared/components/paginator/paginator.component.scss
  apps/base-app/src/app/shared/components/paginator/paginator.component.spec.ts
  apps/base-app/src/app/shared/components/paginator/paginator.component.ts
Due: npm run lint:fix, npm run stylelint:fix, npm run prettier, npm run cspell:check

feat: add formgroup directive
  libs/common/sdk/form/src/directives/group/group-host-directive.ts
  libs/common/sdk/form/src/directives/group/group.directive.spec.ts
  libs/common/sdk/form/src/directives/group/group.directive.ts
Due: npm run lint:fix, npm run prettier, npm run cspell:check

feat: add custom dialog by material
  apps/base-app/tsconfig.json
  libs/common/sdk/material/index.ts
  libs/common/sdk/material/ng-package.json
  libs/common/sdk/material/public-api.ts
  libs/common/sdk/material/src/directives/custom-dialog/custom-dialog-host-directive.ts
  libs/common/sdk/material/src/directives/custom-dialog/custom-dialog.directive.spec.ts
  libs/common/sdk/material/src/directives/custom-dialog/custom-dialog.directive.ts
  libs/common/sdk/material/src/directives/index.ts
  libs/common/sdk/material/src/models/index.ts
  libs/common/sdk/material/src/pipes/index.ts
  libs/common/sdk/material/src/services/index.ts
  libs/common/sdk/material/src/token/common-example.token.ts
  libs/common/sdk/material/src/token/index.ts
Due: npm run lint:fix, npm run prettier, npm run cspell:check

feat: add table
  apps/base-app/src/app/shared/components/table/table.component.html
  apps/base-app/src/app/shared/components/table/table.component.scss
  apps/base-app/src/app/shared/components/table/table.component.ts
  apps/base-app/src/app/shared/components/table/table.model.ts
Due: npm run lint:fix, npm run stylelint:fix, npm run prettier, npm run cspell:check

feat: update input text feature
  apps/base-app/src/app/shared/components/input/input-text/input.component.html
  apps/base-app/src/app/shared/components/input/input-text/input.component.scss
  apps/base-app/src/app/shared/components/input/input-text/input.component.ts
Due: npm run lint:fix, npm run stylelint:fix, npm run prettier, npm run cspell:check

feat: add search drop down
  apps/base-app/src/app/shared/components/input/search-dropdown/search-dropdown.component.html
  apps/base-app/src/app/shared/components/input/search-dropdown/search-dropdown.component.spec.ts
  apps/base-app/src/app/shared/components/input/search-dropdown/search-dropdown.component.ts
  package-lock.json
  package.json
Due: npm run lint:fix, npm run prettier, npm run cspell:check

feat: add create tag drop down
  apps/base-app/src/app/shared/components/input/tag-dropdown/tag-dropdown.component.html
  apps/base-app/src/app/shared/components/input/tag-dropdown/tag-dropdown.component.scss
  apps/base-app/src/app/shared/components/input/tag-dropdown/tag-dropdown.component.spec.ts
  apps/base-app/src/app/shared/components/input/tag-dropdown/tag-dropdown.component.ts
  apps/base-app/src/app/shared/components/input/tag-dropdown/tag-dropdown.model.ts
Due: npm run lint:fix, npm run stylelint:fix, npm run prettier, npm run cspell:check

style: adjust table style
  apps/base-app/src/app/shared/components/table/table.component.scss
Due: npm run stylelint:fix, npm run prettier, npm run cspell:check

feat: update input select
  apps/base-app/src/app/shared/components/input/input-select/input-select.component.html
  apps/base-app/src/app/shared/components/input/input-select/input-select.component.ts
Due: npm run lint:fix, npm run prettier, npm run cspell:check

feat: add otp component
  apps/base-app/src/app/shared/components/input/input-otp/input-otp.component.html
  apps/base-app/src/app/shared/components/input/input-otp/input-otp.component.scss
  apps/base-app/src/app/shared/components/input/input-otp/input-otp.component.spec.ts
  apps/base-app/src/app/shared/components/input/input-otp/input-otp.component.ts
  apps/base-app/src/app/shared/components/input/input-otp/input-otp.model.ts
  cspell.json
  libs/common/sdk/src/lib/utils/index.ts
  libs/common/sdk/src/lib/utils/key-board.utils.ts
Due: npm run lint:fix, npm run stylelint:fix, npm run prettier, npm run cspell:check

feat: add menu component
  apps/base-app/src/app/app.config.ts
  apps/base-app/src/app/core/constants/menu-feature-define.ts
  apps/base-app/src/app/shared/components/menu/menu-list.ts
  apps/base-app/src/app/shared/components/menu/menu.component.html
  apps/base-app/src/app/shared/components/menu/menu.component.scss
  apps/base-app/src/app/shared/components/menu/menu.component.spec.ts
  apps/base-app/src/app/shared/components/menu/menu.component.ts
  apps/base-app/src/app/shared/components/menu/model.ts
Due: npm run lint:fix, npm run stylelint:fix, npm run prettier, npm run cspell:check

feat: add breadcrumb
  apps/base-app/src/app/shared/components/breadcrumb/breadcrumb.component.html
  apps/base-app/src/app/shared/components/breadcrumb/breadcrumb.component.scss
  apps/base-app/src/app/shared/components/breadcrumb/breadcrumb.component.spec.ts
  apps/base-app/src/app/shared/components/breadcrumb/breadcrumb.component.ts
  libs/common/sdk/src/lib/models/breadcrumb.model.ts
  libs/common/sdk/src/lib/models/common-route.model.ts
  libs/common/sdk/src/lib/models/index.ts
  libs/common/sdk/src/lib/services/breadcrumb/breadcrumb.service.spec.ts
  libs/common/sdk/src/lib/services/breadcrumb/breadcrumb.service.ts
  libs/common/sdk/src/lib/services/index.ts
Due: npm run lint:fix, npm run stylelint:fix, npm run prettier, npm run cspell:check

Path conditions:
  npm run lint:fix: any of: *.{js,ts}
  npm run stylelint:fix: any of: *.{css,scss}
  npm run prettier: any of: *
  npm run cspell:check: any of: *
