Repository karta571110/base-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run stylelint:fix, npm run prettier, npm run cspell:check

.lintstagedrc.json:

{
  "*.{js,ts}": ["npm run lint:fix"],
  "*.{css,scss}": ["npm run stylelint:fix"],
  "*": ["npm run prettier", "npm run cspell:check"]
}

fix: package dependcy error
  package-lock.json
Due: npm run prettier, npm run cspell:check

fix: style clean
  apps/base-app/src/sass/base/_base.scss
  apps/base-app/src/sass/utils/_helpers.scss
  apps/base-app/src/sass/utils/_mixins.scss
Due: npm run stylelint:fix, npm run prettier, npm run cspell:check

chore: add lib & fix ng lint can not work problem
  .lintstagedrc.json
  angular.json
  apps/base-app/tsconfig.app.json
  apps/base-app/tsconfig.spec.json
  libs/common-lib/src/index.ts
  libs/common/sdk/.eslintrc.json
  libs/common/sdk/.stylelintrc.json
  libs/common/sdk/README.md
  libs/common/sdk/ng-package.json
  libs/common/sdk/package.json
  libs/common/sdk/src/lib/sdk.component.spec.ts
  libs/common/sdk/src/lib/sdk.component.ts
  libs/common/sdk/src/lib/sdk.service.spec.ts
  libs/common/sdk/src/lib/sdk.service.ts
  libs/common/sdk/src/public-api.ts
  libs/common/sdk/tsconfig.lib.json
  libs/common/sdk/tsconfig.lib.prod.json
  libs/common/sdk/tsconfig.spec.json
  package.json
  tsconfig.base.json
Due: npm run lint:fix, npm run prettier, npm run cspell:check

feat: form library
  libs/common/sdk/form/index.ts
  libs/common/sdk/form/ng-package.json
  libs/common/sdk/form/public-api.ts
  libs/common/sdk/form/src/button.component.html
  libs/common/sdk/form/src/button.component.scss
  libs/common/sdk/form/src/button.component.spec.ts
  libs/common/sdk/form/src/button.component.ts
  libs/common/sdk/src/index.ts
Due: npm run lint:fix, npm run stylelint:fix, npm run prettier, npm run cspell:check

chore: add tsconfig paths setting
  README.md
  angular.json
  apps/base-app/tsconfig.app.json
  apps/base-app/tsconfig.json
  apps/base-app/tsconfig.spec.json
  tsconfig.base.json
Due: npm run prettier, npm run cspell:check

chore: add lodash
  package-lock.json
  package.json
Due: npm run prettier, npm run cspell:check

chore: update package
  package-lock.json
  package.json
Due: npm run prettier, npm run cspell:check

feat: api service
  apps/base-app/tsconfig.app.json
  cspell.json
  libs/common/sdk/form/src/button.component.html
  libs/common/sdk/form/src/button.component.scss
  libs/common/sdk/form/src/button.component.spec.ts
  libs/common/sdk/form/src/button.component.ts
  libs/common/sdk/src/lib/models/api.model.ts
  libs/common/sdk/src/lib/models/index.ts
  libs/common/sdk/src/lib/sdk.component.spec.ts
  libs/common/sdk/src/lib/sdk.component.ts
  libs/common/sdk/src/lib/sdk.service.ts
  libs/common/sdk/src/lib/services/api/common-api.service.spec.ts
  libs/common/sdk/src/lib/services/api/common-api.service.ts
  libs/common/sdk/src/lib/services/index.ts
  libs/common/sdk/src/lib/token/http-context/common-api-base-url.token.ts
  libs/common/sdk/src/lib/token/http-context/common-is-loader-enable.token.ts
  libs/common/sdk/src/lib/token/http-context/common-is-token-required.token.ts
  libs/common/sdk/src/lib/token/index.ts
  libs/common/sdk/src/public-api.ts
  tsconfig.base.json
Due: npm run lint:fix, npm run stylelint:fix, npm run prettier, npm run cspell:check

feat: control directive
  apps/base-app/src/app/app.component.html
  apps/base-app/src/app/app.component.ts
  apps/base-app/src/app/app.module.ts
  apps/base-app/src/app/shared/components/input/input.component.html
  apps/base-app/src/app/shared/components/input/input.component.scss
  apps/base-app/src/app/shared/components/input/input.component.spec.ts
  apps/base-app/src/app/shared/components/input/input.component.ts
  apps/base-app/tsconfig.spec.json
  libs/common/sdk/form/public-api.ts
  libs/common/sdk/form/src/directives/control/control.directive.spec.ts
  libs/common/sdk/form/src/directives/control/control.directive.ts
  libs/common/sdk/form/src/directives/index.ts
Due: npm run lint:fix, npm run stylelint:fix, npm run prettier, npm run cspell:check

feat: message service
  apps/base-app/tsconfig.json
  libs/common/sdk/form/src/models/error-message.model.ts
  libs/common/sdk/form/src/models/index.ts
  libs/common/sdk/form/src/services/index.ts
  libs/common/sdk/form/src/services/message/common-message.service.spec.ts
  libs/common/sdk/form/src/services/message/common-message.service.ts
  libs/common/sdk/form/src/services/validation/common-validation.service.spec.ts
  libs/common/sdk/form/src/services/validation/common-validation.service.ts
  libs/common/sdk/form/src/token/common-message-api-url.token.ts
Due: npm run lint:fix, npm run prettier, npm run cspell:check

feat: vlidate message pipe
  apps/base-app/src/app/app.module.ts
  apps/base-app/src/app/shared/components/input/input.component.html
  apps/base-app/src/app/shared/components/input/input.component.ts
  apps/base-app/src/app/shared/components/validate-message/validate-message.component.html
  apps/base-app/src/app/shared/components/validate-message/validate-message.component.scss
  apps/base-app/src/app/shared/components/validate-message/validate-message.component.spec.ts
  apps/base-app/src/app/shared/components/validate-message/validate-message.component.ts
  apps/base-app/tsconfig.json
  libs/common/sdk/form/public-api.ts
  libs/common/sdk/form/src/pipes/index.ts
  libs/common/sdk/form/src/pipes/message/message.pipe.spec.ts
  libs/common/sdk/form/src/pipes/message/message.pipe.ts
  libs/common/sdk/form/src/pipes/validator/error-message.pipe.spec.ts
  libs/common/sdk/form/src/pipes/validator/error-message.pipe.ts
  libs/common/sdk/form/src/token/index.ts
Due: npm run lint:fix, npm run stylelint:fix, npm run prettier, npm run cspell:check

feat: add i18n secontary
  libs/common/sdk/form/src/services/message/common-message.service.ts
  libs/common/sdk/i18n/index.ts
  libs/common/sdk/i18n/ng-package.json
  libs/common/sdk/i18n/public-api.ts
  libs/common/sdk/i18n/src/directives/index.ts
  libs/common/sdk/i18n/src/models/index.ts
  libs/common/sdk/i18n/src/pipes/index.ts
  libs/common/sdk/i18n/src/services/index.ts
  libs/common/sdk/i18n/src/services/test.service.spec.ts
  libs/common/sdk/i18n/src/services/test.service.ts
  libs/common/sdk/i18n/src/token/index.ts
  tsconfig.base.json
Due: npm run lint:fix, npm run prettier, npm run cspell:check

chore: add angular localize package
  package-lock.json
  package.json
Due: npm run prettier, npm run cspell:check

chore: angular i18n 開啟設定
  angular.json
  apps/base-app/tsconfig.app.json
Due: npm run prettier, npm run cspell:check

chore: i18n relate file
  apps/base-app/src/app/app.module.ts
  libs/common/sdk/form/src/token/common-message-api-url.token.ts
  libs/common/sdk/i18n/index.ts
  libs/common/sdk/i18n/public-api.ts
  libs/common/sdk/i18n/src/i18n.module.ts
  libs/common/sdk/i18n/src/services/index.ts
  libs/common/sdk/i18n/src/services/translate/translate.service.spec.ts
  libs/common/sdk/i18n/src/services/translate/translate.service.ts
Due: npm run lint:fix, npm run prettier, npm run cspell:check

chore: update package
  package-lock.json
Due: npm run prettier, npm run cspell:check

chore: update angular 17
  angular.json
  package-lock.json
  package.json
Due: npm run prettier, npm run cspell:check

chore: update lib ver
  .gitignore
  libs/common-lib/package.json
  libs/common/sdk/package.json
Due: npm run prettier, npm run cspell:check

chore: update angular
  package-lock.json
  package.json
Due: npm run prettier, npm run cspell:check

chore: auto import setting
  apps/base-app/tsconfig.editor.json
  apps/base-app/tsconfig.json
Due: npm run prettier, npm run cspell:check

chore: adjust app component
  apps/base-app/src/app/app-routing.module.ts
  apps/base-app/src/app/app.component.html
  apps/base-app/src/app/app.component.ts
  apps/base-app/src/app/app.config.ts
  apps/base-app/src/app/app.module.ts
  apps/base-app/src/main.ts
Due: npm run lint:fix, npm run prettier, npm run cspell:check

chore: add tsconfig paths
  apps/base-app/tsconfig.json
Due: npm run prettier, npm run cspell:check

chore: adjust app component
  apps/base-app/src/app/app.component.html
  apps/base-app/src/app/app.component.ts
  apps/base-app/src/app/app.config.ts
Due: npm run lint:fix, npm run prettier, npm run cspell:check

chore: reference tsconfig
  apps/base-app/tsconfig.editor.json
  apps/base-app/tsconfig.json
  libs/common/sdk/form/src/directives/control/control.directive.ts
Due: npm run lint:fix, npm run prettier, npm run cspell:check

chore: adjust import
  libs/common/sdk/form/src/directives/control/control.directive.ts
Due: npm run lint:fix, npm run prettier, npm run cspell:check

feat: update package
  package-lock.json
Due: npm run prettier, npm run cspell:check

feat: i18n service basic setting
  apps/base-app/src/app/app.config.ts
  apps/base-app/src/assets/i18n/en.json
  apps/base-app/src/assets/i18n/zh.json
  apps/base-app/tsconfig.spec.json
  cspell.json
  libs/common/sdk/form/src/services/message/common-message.service.ts
  libs/common/sdk/i18n/public-api.ts
  libs/common/sdk/i18n/src/services/index.ts
  libs/common/sdk/i18n/src/services/transloco-loader/transloco-loader.service.spec.ts
  libs/common/sdk/i18n/src/services/transloco-loader/transloco-loader.service.ts
  libs/common/sdk/i18n/src/token/common-i18n-file-path.token.ts
  libs/common/sdk/i18n/src/token/index.ts
  package-lock.json
  package.json
  transloco.config.js
Due: npm run lint:fix, npm run prettier, npm run cspell:check

feat: add transloco
  .vscode/settings.json
  angular.json
  apps/base-app/src/app/app.component.html
  apps/base-app/src/app/app.component.ts
  apps/base-app/src/app/app.config.ts
  apps/base-app/src/app/shared/components/validate-message/validate-message.component.html
  apps/base-app/src/app/shared/components/validate-message/validate-message.component.ts
  apps/base-app/src/assets/i18n/en.json
  apps/base-app/src/assets/i18n/validate-messages/en.json
  apps/base-app/src/assets/i18n/validate-messages/zh.json
  apps/base-app/tsconfig.json
  cspell.json
  libs/common/sdk/form/public-api.ts
  libs/common/sdk/form/src/pipes/index.ts
  libs/common/sdk/form/src/pipes/message/message.pipe.spec.ts
  libs/common/sdk/form/src/pipes/message/message.pipe.ts
  libs/common/sdk/form/src/pipes/validator/error-message.pipe.ts
  libs/common/sdk/form/src/services/index.ts
  libs/common/sdk/form/src/services/message/common-message.service.spec.ts
  libs/common/sdk/form/src/services/message/common-message.service.ts
  libs/common/sdk/form/src/services/validation/common-validation.service.spec.ts
  libs/common/sdk/form/src/services/validation/common-validation.service.ts
  libs/common/sdk/form/src/token/common-message-api-url.token.ts
  libs/common/sdk/form/src/token/index.ts
  libs/common/sdk/i18n/public-api.ts
  libs/common/sdk/i18n/src/services/index.ts
  libs/common/sdk/i18n/src/services/translate/translate.service.spec.ts
  libs/common/sdk/i18n/src/services/translate/translate.service.ts
  libs/common/sdk/i18n/src/services/transloco-loader/transloco-loader.service.ts
  libs/common/sdk/i18n/src/utils/index.ts
  libs/common/sdk/i18n/src/utils/transloco.ts
  libs/common/sdk/src/assets/i18n/sdk-form/en.json
  libs/common/sdk/src/assets/i18n/sdk-form/zh.json
  libs/common/sdk/src/lib/utils/index.ts
  libs/common/sdk/src/lib/utils/type.utils.ts
  libs/common/sdk/src/public-api.ts
  libs/common/sdk/tsconfig.json
  tsconfig.base.json
Due: npm run lint:fix, npm run prettier, npm run cspell:check

feat: add get form message feature
  apps/base-app/src/app/app.component.html
  apps/base-app/src/app/app.component.ts
  apps/base-app/src/app/shared/components/validate-message/validate-message.component.html
  apps/base-app/src/app/shared/components/validate-message/validate-message.component.ts
  apps/base-app/src/assets/i18n/en.json
  libs/common/sdk/form/src/pipes/validator/error-message.pipe.ts
  libs/common/sdk/form/src/token/common-example.token.ts
  libs/common/sdk/form/src/token/index.ts
Due: npm run lint:fix, npm run prettier, npm run cspell:check

chore: add doc
  README.md
  apps/base-app/src/app/shared/components/validate-message/validate-message.component.html
  libs/common/sdk/form/src/pipes/validator/error-message.pipe.ts
Due: npm run lint:fix, npm run prettier, npm run cspell:check

chore: adjust regex valid function
  libs/common/sdk/form/src/directives/control/control.directive.ts
Due: npm run lint:fix, npm run prettier, npm run cspell:check

feat: loader service
  libs/common/sdk/src/lib/interceptors/common-loader.interceptor.ts
  libs/common/sdk/src/lib/services/loader/common-loader.service.spec.ts
  libs/common/sdk/src/lib/services/loader/common-loader.service.ts
Due: npm run lint:fix, npm run prettier, npm run cspell:check

feat: add ui lib
  .commitlintrc.json
  libs/common/sdk/ui/index.ts
  libs/common/sdk/ui/ng-package.json
  libs/common/sdk/ui/public-api.ts
  libs/common/sdk/ui/src/directives/index.ts
  libs/common/sdk/ui/src/models/index.ts
  libs/common/sdk/ui/src/pipes/index.ts
  libs/common/sdk/ui/src/services/index.ts
  libs/common/sdk/ui/src/services/test.service.spec.ts
  libs/common/sdk/ui/src/services/test.service.ts
  libs/common/sdk/ui/src/token/index.ts
  libs/common/sdk/ui/src/utils/index.ts
Due: npm run lint:fix, npm run prettier, npm run cspell:check

feat: add common loader ui
  apps/base-app/src/app/app.component.html
  apps/base-app/src/app/app.component.ts
  apps/base-app/tsconfig.json
  libs/common/sdk/src/lib/services/index.ts
  libs/common/sdk/tsconfig.editor.json
  libs/common/sdk/tsconfig.json
  libs/common/sdk/ui/public-api.ts
  libs/common/sdk/ui/src/components/index.ts
  libs/common/sdk/ui/src/components/loader/common-loader.component.html
  libs/common/sdk/ui/src/components/loader/common-loader.component.scss
  libs/common/sdk/ui/src/components/loader/common-loader.component.spec.ts
  libs/common/sdk/ui/src/components/loader/common-loader.component.ts
  tsconfig.base.json
Due: npm run lint:fix, npm run stylelint:fix, npm run prettier, npm run cspell:check

chore: addjust test fn
  apps/base-app/src/app/shared/components/validate-message/validate-message.component.html
  apps/base-app/src/app/shared/components/validate-message/validate-message.component.ts
  libs/common/sdk/form/src/directives/control/control.directive.spec.ts
  libs/common/sdk/form/src/directives/control/control.directive.ts
  libs/common/sdk/form/src/pipes/index.ts
  libs/common/sdk/form/src/pipes/validator/error-message.pipe.spec.ts
  libs/common/sdk/form/src/pipes/validator/error-message/error-message.pipe.spec.ts
  libs/common/sdk/form/src/pipes/validator/error-message/error-message.pipe.ts
  libs/common/sdk/i18n/src/services/test.service.spec.ts
  libs/common/sdk/i18n/src/services/transloco-loader/transloco-loader.service.spec.ts
  libs/common/sdk/src/lib/services/api/common-api.service.spec.ts
  libs/common/sdk/tsconfig.json
Due: npm run lint:fix, npm run prettier, npm run cspell:check

feat: add pwa app project
  angular.json
  apps/base-app/src/app/app.config.ts
  apps/pwa-app/src/app/app.component.html
  apps/pwa-app/src/app/app.component.scss
  apps/pwa-app/src/app/app.component.spec.ts
  apps/pwa-app/src/app/app.component.ts
  apps/pwa-app/src/app/app.config.ts
  apps/pwa-app/src/app/app.routes.ts
  apps/pwa-app/src/assets/.gitkeep
  apps/pwa-app/src/assets/i18n/en.json
  apps/pwa-app/src/assets/i18n/validate-messages/en.json
  apps/pwa-app/src/assets/i18n/validate-messages/zh.json
  apps/pwa-app/src/assets/i18n/zh.json
  apps/pwa-app/src/favicon.ico
  apps/pwa-app/src/index.html
  apps/pwa-app/src/main.ts
  apps/pwa-app/src/sass/base/_base.scss
  apps/pwa-app/src/sass/base/_colors.scss
  apps/pwa-app/src/sass/base/_fonts.scss
  apps/pwa-app/src/sass/base/_index.scss
  apps/pwa-app/src/sass/base/_reset.scss
  apps/pwa-app/src/sass/components/_button.scss
  apps/pwa-app/src/sass/components/_index.scss
  apps/pwa-app/src/sass/components/_input.scss
  apps/pwa-app/src/sass/components/_modal.scss
  apps/pwa-app/src/sass/utils/_functions.scss
  apps/pwa-app/src/sass/utils/_helpers.scss
  apps/pwa-app/src/sass/utils/_index.scss
  apps/pwa-app/src/sass/utils/_mixins.scss
  apps/pwa-app/src/sass/utils/_variables.scss
  apps/pwa-app/src/sass/vendors/_bootstrap.scss
  apps/pwa-app/src/styles.scss
  apps/pwa-app/tsconfig.app.json
  apps/pwa-app/tsconfig.editor.json
  apps/pwa-app/tsconfig.json
  apps/pwa-app/tsconfig.spec.json
  libs/common/sdk/form/src/pipes/validator/error-message/error-message.pipe.spec.ts
  libs/common/sdk/i18n/src/utils/transloco.ts
Due: npm run lint:fix, npm run stylelint:fix, npm run prettier, npm run cspell:check

chore: add pwa package
  angular.json
  apps/pwa-app/ngsw-config.json
  apps/pwa-app/src/app/app.config.ts
  apps/pwa-app/src/assets/icons/icon-128x128.png
  apps/pwa-app/src/assets/icons/icon-144x144.png
  apps/pwa-app/src/assets/icons/icon-152x152.png
  apps/pwa-app/src/assets/icons/icon-192x192.png
  apps/pwa-app/src/assets/icons/icon-384x384.png
  apps/pwa-app/src/assets/icons/icon-512x512.png
  apps/pwa-app/src/assets/icons/icon-72x72.png
  apps/pwa-app/src/assets/icons/icon-96x96.png
  apps/pwa-app/src/index.html
  apps/pwa-app/src/manifest.webmanifest
  cspell.json
  package-lock.json
  package.json
Due: npm run lint:fix, npm run prettier, npm run cspell:check

chore: adjust readme and add cmd
  README.md
  package.json
Due: npm run prettier, npm run cspell:check

core: update angular 17.3.7
  package-lock.json
  package.json
Due: npm run prettier, npm run cspell:check
