Repository karta571110/base-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run stylelint:fix, npm run prettier, npm run cspell:check

feat: add input date change
  apps/base-app/src/app/shared/components/input/input-date-range/input-date-range.component.ts
  libs/common/sdk/src/lib/constants/index.ts
  libs/common/sdk/src/lib/constants/mat-date.ts
  libs/common/sdk/src/public-api.ts
Due: npm run lint:fix, npm run prettier, npm run cspell:check

feat: add input date series component
  apps/base-app/src/app/shared/components/input/input-date-range/input-date-range.component.html
  apps/base-app/src/app/shared/components/input/input-date-range/input-date-range.component.scss
  apps/base-app/src/app/shared/components/input/input-date-range/input-date-range.component.ts
  apps/base-app/src/app/shared/components/input/input-date/input-date-custom-format.ts
  apps/base-app/src/app/shared/components/input/input-date/input-date.component.html
  apps/base-app/src/app/shared/components/input/input-date/input-date.component.scss
  apps/base-app/src/app/shared/components/input/input-date/input-date.component.spec.ts
  apps/base-app/src/app/shared/components/input/input-date/input-date.component.ts
  apps/base-app/src/app/shared/components/input/input-date/input-date.model.ts
  apps/base-app/src/app/shared/components/input/input-time-picker/input-time-picker.component.html
  apps/base-app/src/app/shared/components/input/input-time-picker/input-time-picker.component.scss
  apps/base-app/src/app/shared/components/input/input-time-picker/input-time-picker.component.spec.ts
  apps/base-app/src/app/shared/components/input/input-time-picker/input-time-picker.component.ts
  apps/base-app/src/app/shared/components/input/input-time-picker/input-time-picker.model.ts
Due: npm run lint:fix, npm run stylelint:fix, npm run prettier, npm run cspell:check

core: update angular v20
  angular.json
  apps/base-app/src/app/app.config.ts
  apps/base-app/src/app/shared/components/input/input-date/input-date.component.ts
  apps/base-app/src/sass/components/_button.scss
  apps/base-app/src/sass/components/_dialog.scss
  libs/common/sdk/src/lib/services/screen/screen.service.ts
  package-lock.json
  package.json
Due: npm run lint:fix, npm run stylelint:fix, npm run prettier, npm run cspell:check

core: add ssr project
  .eslintrc.json
  angular.json
  apps/base-ssr-app/.eslintrc.json
  apps/base-ssr-app/.stylelintrc.json
  apps/base-ssr-app/public/favicon.ico
  apps/base-ssr-app/src/app/app.component.html
  apps/base-ssr-app/src/app/app.component.scss
  apps/base-ssr-app/src/app/app.component.spec.ts
  apps/base-ssr-app/src/app/app.component.ts
  apps/base-ssr-app/src/app/app.config.server.ts
  apps/base-ssr-app/src/app/app.config.ts
  apps/base-ssr-app/src/app/app.html
  apps/base-ssr-app/src/app/app.routes.server.ts
  apps/base-ssr-app/src/app/app.routes.ts
  apps/base-ssr-app/src/app/app.spec.ts
  apps/base-ssr-app/src/app/app.ts
  apps/base-ssr-app/src/index.html
  apps/base-ssr-app/src/main.server.ts
  apps/base-ssr-app/src/main.ts
  apps/base-ssr-app/src/server.ts
  apps/base-ssr-app/src/styles.scss
  apps/base-ssr-app/tsconfig.app.json
  apps/base-ssr-app/tsconfig.spec.json
  libs/common-lib/.eslintrc.json
  libs/common/sdk/.eslintrc.json
  package-lock.json
  package.json
Due: npm run lint:fix, npm run stylelint:fix, npm run prettier, npm run cspell:check

fix: upgrade material-symbols from 0.25.3 to 0.31.8
  package-lock.json
  package.json
Due: npm run prettier, npm run cspell:check

fix: upgrade rxjs from 7.5.7 to 7.8.2
  package-lock.json
  package.json
Due: npm run prettier, npm run cspell:check

fix: upgrade @angular/animations from 20.0.0 to 20.0.4
  package-lock.json
  package.json
Due: npm run prettier, npm run cspell:check

fix: upgrade @angular/common from 20.0.0 to 20.0.4
  package-lock.json
  package.json
Due: npm run prettier, npm run cspell:check

fix: upgrade @angular/compiler from 20.0.0 to 20.0.4
  package-lock.json
  package.json
Due: npm run prettier, npm run cspell:check

fix: dockerfile to reduce vulnerabilities
  dockerfile
Due: npm run prettier, npm run cspell:check

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: npm run prettier, npm run cspell:check

Path conditions:
  npm run lint:fix: any of: *.{js,ts}
  npm run stylelint:fix: any of: *.{css,scss}
  npm run prettier: any of: *
  npm run cspell:check: any of: *
